<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="fd99e341-2907-481e-938e-e4729f7f9af4" Version="1.1.0.0" Publisher="CN=APIMASH" />
  <Properties>
    <DisplayName>APIMASH_CNorris_StarterKit</DisplayName>
    <Logo>Assets\APIMASH_Store.png</Logo>
    <PublisherDisplayName>APIMASH</PublisherDisplayName>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="APIMASH_CNorris_StarterKit.App">
      <Extensions>
        <Extension Category="windows.protocol">
          <Protocol Name="apimash" />
        </Extension>
      </Extensions>
      <m2:VisualElements DisplayName="APIMASH_CNorris_StarterKit" Description="APIMASH_CNorris_StarterKit" BackgroundColor="#000000" ForegroundText="light" Square150x150Logo="Assets\APIMASH_Logo.png" Square30x30Logo="Assets\APIMASH_Small.png">
        <m2:DefaultTile ShortName="Chuck Norris">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\APIMASH_Splash.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>